<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smart News</title>
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="shortcut icon" type="image/jpg" href="./assets/logo/smart-news.png"/>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <!-- Boxicons cdn -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <!-- custom css -->
  <link rel="stylesheet" href="./assets/styles/style.css">
</head>
<body>
  <!-- Navbar -->
  <div class="sidebar">
    <div class="logo_content">
      <div class="logo">
        <i class='bx bx-wink-smile' ></i>
        <div class="logo_name">Smart News</div>
      </div>
      <i class="bx bx-menu" id = "btn"></i>
    </div>
    <ul class="nav_list">
      <li>
          <i class="bx bx-search"></i>
          <input type="text" placeholder="search a topic">
        <!-- <span class="links_name">Dashboard</span> -->
      </li>
      <li>
        <a href="#">
          <i class='bx bxs-news'></i>
          <span class="links_name">Headline</span>
        </a>
        <span class="tooltip">Headline</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-news' ></i>
          <span class="links_name">Category</span>
        </a>
        <span class="tooltip">Category</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-heart"></i>
          <span class="links_name">saved</span>
        </a>
        <span class="tooltip">saved</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-pie-chart-alt-2"></i>
          <span class="links_name">Analytics</span>
        </a>
        <span class="tooltip">Analytics</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-tachometer'></i>
          <span class="links_name">Sentiment analysis</span>
        </a>
        <span class="tooltip">Sentiment analysis</span>
      </li>
    </ul>
    <div class="profile_content">
      <div class="profile">
        <div class="profile_details">
          <img src="./assets/images/random_face.png" alt="">
          <div class="name_job">
            <div class="name">John Doe</div>
            <div class="job">Johndoe@mail.com</div>
          </div>
        </div>
        <i class="bx bx-log-out" id = "log_out"></i>
      </div>
    </div>
  </div>
  <!-- End of navbar -->


  <!-- Home content -->
  <div class="home_content">
    <div class="text text-title">
      <div class="title-category">
        <p>Headlines</p> 
      </div>
      <div class="news-navigation">
        <ul>
          <li>
            <a href="#">#Headlines</a>
          </li>
          <li>
            <a href="#">#Postive news</a>
          </li>
          <li>
            <a href="#">#Negative news</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- News Content -->
    <div class="news-content">
      <!-- News Card -->
      <div class="news-card">
        <img src="./assets/images/news_portal.jpg" alt="">
        <div class="news-info">
          <div class="news-title">
            Ada apa dengan cinta
          </div>
          <hr>
          <div class="news-description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus assumenda eligendi amet harum placeat pariatur, corrupti voluptatum animi deserunt hic expedita obcaecati dicta quaerat itaque non odio dolorem sapiente in magni recusandae quis. Ratione nemo, expedita tempora assumenda quam a harum nostrum consequuntur voluptates hic accusantium dolor ullam facere in corrupti dicta esse repellendus beatae provident quas aspernatur? Explicabo voluptatibus quibusdam dolor? Amet repellendus, vel non quos, eaque mollitia quod a, distinctio magni minima debitis?
          </div>
          <div class="card-menu">
            <a href="#">
              <i class='bx bx-heart'></i>
            </a>
            <a href="#">
              <i class='bx bx-user-voice' ></i>
            </a>
          </div>
        </div>
      </div>

      <div class="news-card">
        <img src="./assets/images/news_portal.jpg" alt="">
        <div class="news-info">
          <div class="news-title">
            Ada apa dengan cinta
          </div>
          <hr>
          <div class="news-description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus assumenda eligendi amet harum placeat pariatur, corrupti voluptatum animi deserunt hic expedita obcaecati dicta quaerat itaque non odio dolorem sapiente in magni recusandae quis. Ratione nemo, expedita tempora assumenda quam a harum nostrum consequuntur voluptates hic accusantium dolor ullam facere in corrupti dicta esse repellendus beatae provident quas aspernatur? Explicabo voluptatibus quibusdam dolor? Amet repellendus, vel non quos, eaque mollitia quod a, distinctio magni minima debitis?
          </div>
          <div class="card-menu">
            <a href="#">
              <i class='bx bx-heart'></i>
            </a>
            <a href="#">
              <i class='bx bx-user-voice' ></i>
            </a>
          </div>
        </div>
      </div>
      
      <div class="news-card">
        <img src="./assets/images/news_portal.jpg" alt="">
        <div class="news-info">
          <div class="news-title">
            Ada apa dengan cinta
          </div>
          <hr>
          <div class="news-description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus assumenda eligendi amet harum placeat pariatur, corrupti voluptatum animi deserunt hic expedita obcaecati dicta quaerat itaque non odio dolorem sapiente in magni recusandae quis. Ratione nemo, expedita tempora assumenda quam a harum nostrum consequuntur voluptates hic accusantium dolor ullam facere in corrupti dicta esse repellendus beatae provident quas aspernatur? Explicabo voluptatibus quibusdam dolor? Amet repellendus, vel non quos, eaque mollitia quod a, distinctio magni minima debitis?
          </div>
          <div class="card-menu">
            <a href="#">
              <i class='bx bx-heart'></i>
            </a>
            <a href="#">
              <i class='bx bx-user-voice' ></i>
            </a>
          </div>
        </div>
      </div>
      
      <div class="news-card">
        <img src="./assets/images/news_portal.jpg" alt="">
        <div class="news-info">
          <div class="news-title">
            Ada apa dengan cinta
          </div>
          <hr>
          <div class="news-description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus assumenda eligendi amet harum placeat pariatur, corrupti voluptatum animi deserunt hic expedita obcaecati dicta quaerat itaque non odio dolorem sapiente in magni recusandae quis. Ratione nemo, expedita tempora assumenda quam a harum nostrum consequuntur voluptates hic accusantium dolor ullam facere in corrupti dicta esse repellendus beatae provident quas aspernatur? Explicabo voluptatibus quibusdam dolor? Amet repellendus, vel non quos, eaque mollitia quod a, distinctio magni minima debitis?
          </div>
          <div class="card-menu">
            <a href="#">
              <i class='bx bx-heart'></i>
            </a>
            <a href="#">
              <i class='bx bx-user-voice' ></i>
            </a>
          </div>
        </div>
      </div>

      <div class="news-card">
        <img src="./assets/images/news_portal.jpg" alt="">
        <div class="news-info">
          <div class="news-title">
            Ada apa dengan cinta
          </div>
          <hr>
          <div class="news-description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus assumenda eligendi amet harum placeat pariatur, corrupti voluptatum animi deserunt hic expedita obcaecati dicta quaerat itaque non odio dolorem sapiente in magni recusandae quis. Ratione nemo, expedita tempora assumenda quam a harum nostrum consequuntur voluptates hic accusantium dolor ullam facere in corrupti dicta esse repellendus beatae provident quas aspernatur? Explicabo voluptatibus quibusdam dolor? Amet repellendus, vel non quos, eaque mollitia quod a, distinctio magni minima debitis?
          </div>
          <div class="card-menu">
            <a href="#">
              <i class='bx bx-heart'></i>
            </a>
            <a href="#">
              <i class='bx bx-user-voice' ></i>
            </a>
          </div>
        </div>
      </div>

      <div class="news-card">
        <img src="./assets/images/news_portal.jpg" alt="">
        <div class="news-info">
          <div class="news-title">
            Ada apa dengan cinta
          </div>
          <hr>
          <div class="news-description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus assumenda eligendi amet harum placeat pariatur, corrupti voluptatum animi deserunt hic expedita obcaecati dicta quaerat itaque non odio dolorem sapiente in magni recusandae quis. Ratione nemo, expedita tempora assumenda quam a harum nostrum consequuntur voluptates hic accusantium dolor ullam facere in corrupti dicta esse repellendus beatae provident quas aspernatur? Explicabo voluptatibus quibusdam dolor? Amet repellendus, vel non quos, eaque mollitia quod a, distinctio magni minima debitis?
          </div>
          <div class="card-menu">
            <a href="#">
              <i class='bx bx-heart'></i>
            </a>
            <a href="#">
              <i class='bx bx-user-voice' ></i>
            </a>
          </div>
        </div>
      </div>

      <div class="news-card">
        <img src="./assets/images/news_portal.jpg" alt="">
        <div class="news-info">
          <div class="news-title">
            Ada apa dengan cinta
          </div>
          <hr>
          <div class="news-description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus assumenda eligendi amet harum placeat pariatur, corrupti voluptatum animi deserunt hic expedita obcaecati dicta quaerat itaque non odio dolorem sapiente in magni recusandae quis. Ratione nemo, expedita tempora assumenda quam a harum nostrum consequuntur voluptates hic accusantium dolor ullam facere in corrupti dicta esse repellendus beatae provident quas aspernatur? Explicabo voluptatibus quibusdam dolor? Amet repellendus, vel non quos, eaque mollitia quod a, distinctio magni minima debitis?
          </div>
          <div class="card-menu">
            <a href="#">
              <i class='bx bx-heart'></i>
            </a>
            <a href="#">
              <i class='bx bx-user-voice' ></i>
            </a>
          </div>
        </div>
      </div>

      <div class="news-card">
        <img src="./assets/images/news_portal.jpg" alt="">
        <div class="news-info">
          <div class="news-title">
            Ada apa dengan cinta
          </div>
          <hr>
          <div class="news-description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus assumenda eligendi amet harum placeat pariatur, corrupti voluptatum animi deserunt hic expedita obcaecati dicta quaerat itaque non odio dolorem sapiente in magni recusandae quis. Ratione nemo, expedita tempora assumenda quam a harum nostrum consequuntur voluptates hic accusantium dolor ullam facere in corrupti dicta esse repellendus beatae provident quas aspernatur? Explicabo voluptatibus quibusdam dolor? Amet repellendus, vel non quos, eaque mollitia quod a, distinctio magni minima debitis?
          </div>
          <div class="card-menu">
            <a href="#">
              <i class='bx bx-heart'></i>
            </a>
            <a href="#">
              <i class='bx bx-user-voice' ></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Sentiment analysis tools -->
    <!-- Footer -->
    <div class="footer">
      <div class="footer-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel fuga quia, aperiam quaerat hic culpa eum? Doloremque vero laborum, cumque optio quam dolor fuga maiores nobis iusto officiis commodi necessitatibus!</p>
      </div>
    </div>
  </div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script>
  // navbar script
  let btn = document.querySelector("#btn");
  let sidebar = document.querySelector(".sidebar");
  let searchBtn = document.querySelector(".bx-search");
  
  btn.onclick = function(){
    sidebar.classList.toggle("active") // di click ada class active
  }

  searchBtn.onclick = function(){
    sidebar.classList.toggle("active") // di click ada class active
  }


</script>
</body>
</html>