* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#fox {
    font-weight: 800;
}

body {
    min-height: 100vh;
    background-color: #e4e4e4 !important;
}

.navbar {
    background-color: rgb(207, 150, 42) !important;
    margin-bottom: 20px;
}

.card {
    border-radius: 10px;
}

/* img {
    border-radius: 10px 10px 0 0 !important;
} */

.btn {
    background-color: rgb(207, 150, 42);
    border: 0 !important;
}

/* Login and register */
.global-container {
    /* height: 50vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6%;
    /* color: rgb(207, 150, 42) */
    /* position: absolute;

    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto; */
}

.login-form {
    width: 380px;
    height: 600px; 
    padding: 20px;
    /* background-color: #3c4246 !important; */
    border-radius: 10px !important;
    -webkit-box-shadow: 2px 10px 19px 2px rgba(0,0,0,0.13);
    -moz-box-shadow: 2px 10px 19px 2px rgba(0,0,0,0.13);
    box-shadow: 2px 10px 19px 2px rgba(0,0,0,0.13);
}

.register-form {
    width: 380px;
    height: 750px; 
    padding: 20px;
    /* background-color: #3c4246 !important; */
    border-radius: 10px !important;
    -webkit-box-shadow: 2px 10px 19px 2px rgba(0,0,0,0.13);
    -moz-box-shadow: 2px 10px 19px 2px rgba(0,0,0,0.13);
    box-shadow: 2px 10px 19px 2px rgba(0,0,0,0.13);
}

input[type="email"],
input[type="password"],
input[type="text"]{
    /* background: #1a2226; */
    /* color: #fff; */
    border: 2px solid #cacaca;
    /* border-radius: 10px; */
    margin-bottom: 20px;
}

input[type="email"]:focus,
input[type="password"]:focus
input[type="text"]:focus {
    outline: none;
    border: none;
    /* background: #1a2226; */
    /* color: #fff; */
    margin: 0;
    border: 2px solid rgb(207, 150, 42);
    /* border-radius: 2px; */
    margin-bottom: 20px;
}

#login-title {
    font-weight: 700;
    padding-top: 30px;
}

.card-body {
    flex: none;
}

#btn-login, #btn-register {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(207, 150, 42) !important;
    color: black !important;
    outline: none;
    border: none;
}